version: '2.1'
setup: true
orbs:
  path-filtering: circleci/path-filtering@3.0.0

workflows:
  setup-pipeline:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            lib/src/main/.* library-release true
            lib/src/.* update-site true