version: '2.1'

workflows:
  main:
    when:
      equal: [ develop, << pipeline.git.branch >> ]
    jobs:
      - maven-release:
          context: maven-sonatype
          name: Build and Release to Sonatype

jobs:
  maven-release:
    docker:
      - image: cimg/openjdk:21.0.9
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "SHA256:qAN+L+9L9b3kBCnCCJqtehNUqXTyruqx6FwpQTYkdRA"
      - run:
          # https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints
          name: Add Known GitHub Host Keys
          command: |
            mkdir -p ~/.ssh
            echo "github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl" >> ~/.ssh/known_hosts
      - run:
          name: Configure Git User
          command: |
            git config --global user.email "olsson.erik1993@gmail.com"
            git config --global user.name "CircleCI"
            
            SSH_PUBKEY_PATH=$(ls ~/.ssh/*.pub | head -1)

            if [ -z "$SSH_PUBKEY_PATH" ]; then
              echo "Public key file not found. Check if the key was added correctly."
              exit 1
            fi
            git config gpg.format ssh
            git config user.signingkey "$SSH_PUBKEY_PATH"
            git config commit.gpgsign true
      - run:
          name: Base64 Decode and Create settings.xml
          command: echo "$MAVEN_SETTINGS_BASE64" | base64 -d -i > settings.xml
      - run:
          name: Base64 Decode GPG Key and Save as Local File
          command: echo "$MAVEN_GPG_KEY_BASE64" | base64 -d -i > private.asc
      - run:
          name: Maven Release Prepare
          command: export MAVEN_GPG_KEY=$(cat private.asc) && mvn -B release:prepare --settings settings.xml -f lib/pom.xml
      - run:
          name: Maven Release Rollback
          command: export MAVEN_GPG_KEY=$(cat private.asc) && mvn -B release:rollback --settings settings.xml -f lib/pom.xml
          when: on_fail
      - run:
          name: Maven Release Perform
          command: export MAVEN_GPG_KEY=$(cat private.asc) && mvn -B release:perform -DskipTests --settings settings.xml -f lib/pom.xml
      - run:
          name: Git Push /site to main branch
          command: |
            cp -r lib/target/site/* ./docs
            git checkout main
            git add ./docs
            git commit -m "[CircleCI] Updated Maven Site"
            git push origin main