version: '2.1'

parameters:
  library-release:
    type: boolean
    default: false

workflows:
  main:
    when:
      and:
        - equal: [ true, << pipeline.parameters.library-release >> ]
    jobs:
      - maven-publish-job:
          context: maven-sonatype
          name: Build and Release to Sonatype
      - maven-site-job:
          requires:
            - Build and Release to Sonatype
          name: Update Maven Site

jobs:
  maven-site-job:
    docker:
      - image: cimg/openjdk:21.0.9
    steps:
      - checkout
      - run:
          name: Set Git User
          command: git config --global user.email "olsson.erik1993@gmail.com" && git config --global user.name "CircleCI"
      - run:
          name: Maven Package Site
          command: mvn package site -f lib/pom.xml -DtestFailureIgnore=true
      - run: |
          mkdir -p ./docs && cp -r lib/target/site/* ./docs
          git add ./docs && git commit -m "[CircleCI] Updated Maven Site" && git push origin main
  maven-publish-job:
    docker:
      - image: cimg/openjdk:21.0.9
    steps:
      - checkout
      - run:
          name: Set Git User
          command: git config --global user.email "olsson.erik1993@gmail.com" && git config --global user.name "CircleCI"
      - run:
          name: Create settings.xml
          command: echo "$MAVEN_SETTINGS_BASE64" | base64 -d -i > settings.xml
      - run:
          name: Decode GPG Key and Save as Local File
          command: echo "$MAVEN_GPG_KEY_BASE64" | base64 -d -i > private.asc
      - run:
          name: Maven Release Prepare
          command: export MAVEN_GPG_KEY=$(cat private.asc) && mvn -B release:prepare -DskipTests --settings settings.xml -f lib/pom.xml
      - run:
          name: Maven Release Perform
          command: mvn -B release:perform --settings settings.xml -f lib/pom.xml
