version: '2.1'

parameters:
  library-release:
    type: boolean
    default: false

workflows:
  main:
    when:
      and:
        - equal: [ true, << pipeline.parameters.library-release >> ]
    jobs:
      - maven-publish-job:
          context: maven-sonatype
          name: Build and Publish to Sonatype

jobs:
  maven-publish-job:
    docker:
      - image: cimg/openjdk:21.0.9
    steps:
      - checkout
      - run:
          name: Create settings.xml
          command: echo "$MAVEN_SETTINGS_BASE64" | base64 -d -i > settings.xml
      - run:
          name: Decode GPG Key and Save as Local File
          command: echo "$MAVEN_GPG_KEY_BASE64" | base64 -d -i > private.asc
      - run:
          name: Maven Release Prepare
          command: export MAVEN_GPG_KEY=$(cat private.asc) && mvn -B -DdryRun=true -DskipTests release:prepare --settings settings.xml -f lib/pom.xml
      - run:
          name: Maven Release Perform
          command: mvn -B -DdryRun=true release:perform --settings settings.xml -f lib/pom.xml